@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

*{
  font-family: 'Lexend', sans-serif;
}

body{
  display:grid;
  background:rgb(22 22 22);
  grid-template-rows:50px 1fr;
  grid-template-columns:50px 1fr;
}

body::-webkit-scrollbar {
    display: none;
}
